<!-- <div class="ae-grid au-xs-ta-center au-mb-4">
    <div >
      <img [src]=".imagen" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">{{ persona.nombre }}</h5>
      <p class="ae-u-bolder au-mb-3">{{ persona.titol }}</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ persona.frase }}</p>
    </div>
     <div *ngFor="let persona of infoService.equipo">
      <img [src]="persona.imagen">
      <h5>{{ persona.nombre }}</h5>
      <p>{{ persona.titol }}</p>
      <p>{{ persona.frase }}</p>
      <a>{{ persona.twitter }}</a>
    </div> -->
<!-- </div>  -->